API_ID=30962175
API_HASH=6f1b861f28dceef886cadf49dfdb9cbe
BOT_TOKEN=8547245287:AAEGPQrByKtdTkN7W22vsB-hCJFbtF5pH9Y
LOGGER_ID=-1002290411337
MONGO_DB_URI=
OWNER_ID=6682085274
STRING_SESSION=BQHYcf8ABjIIGkfMcM_jmHmEoIW_J5iT9g9Dt8ko-jPCwIhzkDQ15mXAtdaRdyzr11lltiIbxEgj9UX-QXtIy3EaDENL2JHNA47BtFsM1V_R6jb-AzvtV0TiYBw56puvOVrjKVEqPkAgDU5GDwwlfk6oXgFo5d3zwnscCNMyKVliXeu8LTa9pIYb57k4Xsou8z-pYn2qeP3YTA5wkjaQy4Pd3FPvD8BFmzr3sO1w9nyrxeQ55cvw-KyF5n9WMAoG4IOYF2FljgFbtG9EX2cYmzySl-QlyvQEGz9a5D0eNx_uhGB4nqdNXzK6aMyE8IcogrPYtrIyKALGTyg97x5caxnNAPJcFQAAAAIFcrQGAA
